<td rowspan="{{ include.rowspan }}" class="homework {{ include.element.classes | join ' '}}">
{%- if include.element.nonumber -%}
  {%- assign content = include.element.title -%}
{%- else -%}
  {%- capture content -%}Homework {{ include.number }}: {{ include.element.title }}{%- endcapture -%} 
{%- endif -%}
{%- if include.element.link -%}
  <a href="{{ include.element.link | relative_url }}">{{ content }}</a>
{%- else -%}
  {{ content }}
{%- endif -%}
{%- if include.element.due -%}
  <br>
  (due {{ include.element.due }})
{%- endif -%}
</td>