<div>

<style type="text/css">

.proj3-table {
  all: revert;
  border-collapse: collapse !important;
}

.proj3-header-cell {
  border: 2px solid;
  border-left: 2px solid !important;
}

.proj3-intro-cell {
  border: 2px solid;
  border-left: 2px solid !important;
  border-bottom: 2px solid !important;
  background-color:rgba(114,83,237,0.2);
}

.proj3a-cell {
  border: 2px solid;
  border-left: 2px solid !important;
  border-bottom: 2px solid !important;
  background-color:rgba(44,132,250,0.15);
}

.proj3b-cell {
  border: 2px solid;
  border-left: 2px solid !important;
  border-bottom: 2px solid !important;
  background-color:rgba(65,214,147,0.15);
}

</style>

Warning: There are <b>3 deadlines</b> for this project, and some deadlines require you to submit <b>multiple deliverables</b>. Please double-check that you submitted everything!

<table class="proj3-table"><thead>
  <tr>
    <th class="proj3-header-cell">Assignment</th>
    <th class="proj3-header-cell">Tasks</th>
    <th class="proj3-header-cell">Deliverable</th>
    <th class="proj3-header-cell">Points</th>
    <th class="proj3-header-cell">Due Date</th>
  </tr></thead>
<tbody>
  <tr>
    <td class="proj3-intro-cell">Team Formation</td>
    <td class="proj3-intro-cell">- Task 0: Partnerships</td>
    <td class="proj3-intro-cell">Pre-Project <b>Google Form</b></td>
    <td class="proj3-intro-cell">2.5</td>
    <td class="proj3-intro-cell">Wed, Apr 9<br>11:59pm PT</td>
  </tr>
  <tr>
    <td class="proj3a-cell" rowspan="3">Project 3A</td>
    <td class="proj3a-cell" rowspan="3">- Task 1: Setup<br>- Task 2: Design Document<br>- Task 3: World Generation</td>
    <td class="proj3a-cell" >World Screenshots on <b>Gradescope</b></td>
    <td class="proj3a-cell">10</td>
    <td class="proj3a-cell" rowspan="3">Fri, Apr 18<br>11:59pm PT</td>
  </tr>
  <tr>
    <td class="proj3a-cell">Design Document</td>
    <td class="proj3a-cell">7.5</td>
  </tr>
  <tr>
    <td class="proj3a-cell">Mid-Project Google Form</td>
    <td class="proj3a-cell">2.5</td>
  </tr>
  <tr>
    <td class="proj3b-cell" rowspan="3">Project 3B</td>
    <td class="proj3b-cell" rowspan="3">- Task 4: Main Menu<br>- Task 5: Interactivity<br>- Task 6: HUD<br>- Task 7: Saving and Loading<br>- Task 8: Ambition Features</td>
    <td class="proj3b-cell">Code on <b>Gradescope</b><br>(0 pts, but required for checkoff)<br></td>
    <td class="proj3b-cell">0</td>
    <td class="proj3b-cell" rowspan="3">Tue, Apr 29<br>11:59pm PT</td>
  </tr>
  <tr>
    <td class="proj3b-cell"><b>Live Checkoff</b> with TA<br>(Checkoffs will happen 4/28 – 5/2)</td>
    <td class="proj3b-cell">100</td>
  </tr>
  <tr>
    <td class="proj3b-cell">Post-Project <b>Google Form</b></td>
    <td class="proj3b-cell">2.5</td>
  </tr>
</tbody>
</table>

To request extensions on Project 3, <b>both partners</b> need to submit separate extension requests on Beacon.

</div>